body {
  margin-top:70px;
}

#pinstrap-container {
	display:none;
}

.pinstrap-item .panel-body {
	padding:10px;
}

.pinstrap-item h3 {
	margin-top:10px;
}

.pinstrap-item h3.top0 {
	margin-top:0;
}

.pinstrap-item h5 {
	line-height:110%;
}

.pinstrap-item p {
	margin-top:10px;
	margin-bottom:0;
}

@media (min-width:992px) {
	body {
		margin-top:110px;
	}
}
