body {
  margin-top:70px;
}

#pinstrap-container {
	display:none;
	margin-bottom:20px;
}

.pinstrap-item .panel-body {
	padding:10px;
}

.pinstrap-item h3 {
	margin-top:10px;
}

.pinstrap-item h3.top0 {
	margin-top:0;
}

.pinstrap-item h6 {
	line-height:175% !important;
}

.pinstrap-item p {
	margin-top:10px;
	margin-bottom:0;
}
