body {
	padding-top: 70px;
	font-family: 'Roboto', sans-serif;
}

.post-list-item {
	border-top: 1px solid #ccc;
	padding-bottom: 10px;
}

.post-list-item:first-child {
	border-top: none;
}

.post-list-item:first-child h2, article h2 {
	margin-top:0;
}

#all-posts {
	margin-top:20px;
}

.panel-heading h6.pull-right.panel-title {
	padding-top:4px;
	font-size:12px;
}

.panel-heading h6.pull-right.panel-title a {
	color:#337ab7;
}

.panel-heading h6.pull-right.panel-title a:hover {
	color:#23527C;
}

.panel dl {
	margin-bottom: 0;
}

.panel dl dd {
	margin-bottom: 10px;
}

.panel dl dd:last-child {
	margin-bottom: 0;
}

#older-posts dl dt, #recent-posts dl dt {
	font-size: 12px;
	font-weight: normal;
}

#older-posts dl dd, #recent-posts dl dd {
	font-weight:700;
}

#page-navigation {
	margin-top:25px;
}

#page-navigation .pull-left {
	margin-right: 20px;
}

#page-navigation .pull-right {
	margin-left: 20px;
}  