body {
	padding-top: 50px;
	font-family: 'Roboto', sans-serif;
	background-color:#f0f0f0;
}

#main-nav a.navbar-brand {
	margin-top: -4px;
}

a.navbar-brand img {
	opacity: .5;
}

a.navbar-brand:hover img {
	opacity: 1;
}

div#main-container {
	background-color:#fff;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding-top:20px;
	padding-bottom:10px;
}

.post-list-item {
	border-top: 1px solid #ccc;
	padding-bottom: 10px;
}

.post-list-item:first-child {
	border-top: none;
}

.post-list-item:first-child h1, article h1 {
	margin-top:0;
}

#all-posts {
	margin-top:20px;
}

.panel-heading h6.pull-right.panel-title {
	padding-top:4px;
	font-size:12px;
}

.panel-heading h6.pull-right.panel-title a {
	color:#337ab7;
}

.panel-heading h6.pull-right.panel-title a:hover {
	color:#23527C;
}

.panel dl {
	margin-bottom: 0;
}

.panel dl dd {
	margin-bottom: 10px;
}

.panel dl dd:last-child {
	margin-bottom: 0;
}

#older-posts dl dt, #recent-posts dl dt {
	font-size: 12px;
	font-weight: normal;
}

#older-posts dl dd, #recent-posts dl dd {
	font-weight:700;
}

#page-navigation {
	margin-top:25px;
}

#page-navigation .pull-left {
	margin-right: 20px;
}

#page-navigation .pull-right {
	margin-left: 20px;
}

footer {
	border-top: 1px solid #999;
	background-color: #ccc;
	padding-top: 40px;
	padding-bottom: 40px;
}

footer h2 {
	margin-top:0;
}

#home-jumbotron {
	background-color:#fff;
	border-radius: 0;
	border:0;
	border-bottom:1px solid #ccc;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:0;
}

#home-jumbotron h1 {
	margin:0;
}

#home-jumbotron h2 {
	margin:30px 0;
}

#home-jumbotron h4 {
	margin:30px 0;
}

#home-jumbotron button {
	margin:0;
}

.jumbotron-column {
	padding-top:20px;
	padding-bottom:20px;
}

#profile-picture {
	width: 100%;
	max-width: 320px;
}

#home-features-wrapper {
	padding-top:37px;
	padding-bottom:38px;
}

.home-feature-panel {
	margin-top:13px;
	margin-bottom:12px;
}

.home-feature-panel .panel-body {
	background-color:#fff;
}

.home-feature-panel .fa.fa-2x {
	margin-right:10px;
}

.home-feature-panel h3 {
	margin-top:0;
}

.home-feature-panel h4.connect {
	margin:20px 0;
}

.home-feature-panel h4.connect:first-child {
	margin-top: 0;
}

.home-feature-panel h4.connect:last-child {
	margin-bottom:5px;
}

article img {
	max-width: 100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

/* Résumé */

.res-content {
    padding-bottom: 30px;
}

.res-section {
    padding-bottom: 20px;
}

.res-section h3 {
    margin-top:0;
}

#res-skills dt, dd {
    margin-bottom:10px;
}

#res-highlights ul li {
    margin:10px inherit;
}

#res-emp .clients {
    padding-left: 40px;
}

#res-emp .clients ul {
    list-style-type: circle;
}

.employer {
    margin-bottom:20px;
}

.employer:last-child {
    margin-bottom:0;
}

.employer h4 {
    margin-top:0;
    margin-bottom:0;
}

.affix {
    top:80px;
}

#res-nav-list li.active {
    font-weight:bold;
}

#res-nav-list li.active.no-change {
    font-weight:normal;
}

#res-nav-list li li {
    display: none;
}

#res-nav-list li.active li {
    display:block;
    font-weight:normal;
}

#res-nav-list li.active li.active {
    font-weight:bold;
}

@media (min-width: 992px) {
    .affix {
        width:205px;
    }
}
@media (min-width: 1200px) {
    .affix {
        width:255px;
    }
}

.tag-posts-list dt {
	font-weight: normal;
	text-align: left;
}

.collapse-top-margin {
	margin-top:0;
}

.panel-body.tags {
	word-spacing: 10px;
	line-height: 30px;
}