.page-header {
  margin-top:0;
  margin-bottom:15px;
}
.page-header h1 {
  margin-bottom:0;
}
article {
  margin-bottom:20px;
}
.post-ad-container {
  margin-bottom:20px;
}
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
