<h4 class="sidebar-title">Archive</h4>
<div class="panel-group" id="post-archive" role="tablist" aria-multiselectable="true">
	{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% assign count = 0 %}
	{% for year in postsByYear %}
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-{{ year.name }}">
			<h4 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#post-archive" href="#collapse-{{ year.name }}" aria-expanded="true" aria-controls="collapse-{{ year.name }}">
					{{ year.name }}
				</a>
			</h4>
		</div>
		<div id="collapse-{{ year.name }}" class="panel-collapse collapse {% if count == 0 %}in{% endif %}" role="tabpanel" aria-labelledby="heading-{{ year.name }}">
			<ul class="list-group">
				{% for post in year.items %}
				<li class="list-group-item">
					<h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
					<h6>{{ post.date | date : "%d-%b-%Y" }}</h6>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
    {% assign count = count | plus: 1 %}
	{% endfor %}
</div>