<h4 class="sidebar-title">Tags</h4>
<div class="panel panel-default">
	<div id="tags-panel-body" class="panel-body">
		<p style="line-height:150%;text-align:center;">
			{% capture tags %}
				{% for tag in site.tags %}
					{{ tag[0] }}
				{% endfor %}
			{% endcapture %}
			{% assign sortedtags = tags | split:' ' | sort %}
			{% for tag in sortedtags %}
				<a href="#" class="badge alert-info blog-tag" style="font-size:18px;" data-tag="{{ tag }}">{{ tag }}</a>
			{% endfor %}
		</p>
	</div>
</div>
