<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:url" content="https://timschreiber.com/{{ page.url }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    {% if page.image %}
      <meta property="og:image" content="https://timschreiber.com/img/{{ page.image }}"/>
      {% if page.image_width %}
	  <meta property="og:image:width" content="{{page.image_width}}"/>
      {% endif %}
      {% if page.image_height %}
	  <meta property="og:image:height" content="{{ page.image_height }}"/>
      {% endif %}
    {% else %}
      <meta property="og:image" content="https://timschreiber.com/img/{{ site.image }}"/>
	  <meta property="og:image:width" content="{{site.image_width}}"/>
	  <meta property="og:image:height" content="{{ site.image_height }}"/>
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1550694455192768"/>
    <link rel="canonical" href="{{ page.canonical }}"/>
    <link rel="alternate" type="application/atom+xml" title="Atom | Tim Schreiber" href="https://timschreiber.com/blog/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="Rss | Tim Schreiber" href="https://timschreiber.com/blog/rss.xml" />
    <link rel="stylesheet" type="text/css" href="/css/theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" />
    <link rel="stylesheet" type="text/css" href="/css/layout2.css" />
    {% if layout.custom_css %}
    	{% for css in layout.custom_css %}
    	  <link rel="stylesheet" href="/css/{{ css }}" />
    	{% endfor %}
    {% endif %}
    {% if page.custom_css %}
    	{% for css in page.custom_css %}
    	  <link rel="stylesheet" href="/css/{{ css }}" />
    	{% endfor %}
    {% endif %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0;" rel="noindex">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="navbar-brand-box">Tim Schreiber<span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li {% if page.active == "about" %}class="active"{% elsif layout.active == "about" %}class="active"{% endif %}><a href="/about">About</a></li>
            <li {% if page.active == "resume" %}class="active"{% elsif layout.active == "resume" %}class="active"{% endif %}><a href="/resume">R&eacute;sum&eacute;</a></li>
            <li {% if page.active == "blog" %}class="active"{% elsif layout.active == "blog" %}class="active"{% endif %}><a href="/blog">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="contact-nav">
              <a href="javascript:showContactModal();" class="contact-nav-item" data-toggle="tooltip" data-placement="bottom" title="Email"><span class="fa fa-envelope-o"></span></a>
              <a href="https://twitter.com/tim_schreiber" class="contact-nav-item" data-toggle="tooltip" data-placement="bottom" title="Twitter"><span class="fa fa-twitter"></span></a>
              <a href="https://www.linkedin.com/profile/view?id=12496208" class="contact-nav-item" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><span class="fa fa-linkedin"></span></a>
              <a href="https://stackoverflow.com/users/913261/tim-s" class="contact-nav-item" data-toggle="tooltip" data-placement="bottom" title="Stack Overflow"><span class="fa fa-stack-overflow"></span></a>
              <a href="https://github.com/timschreiber" class="contact-nav-item" data-toggle="tooltip" data-placement="bottom" title="Github"><span class="fa fa-github"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
