<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
    <title>{{ page.title }} | Tim Schreiber</title>
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="Timothy P. Schreiber"/>
    <meta property="og:url" content="{{ page.url }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    {% if page.image %}
      <meta property="og:image" content="http://timschreiber.com/img/{{ page.image }}"/>
      {% if page.imagewidth %}
	  <meta property="og:image:width" content="{{page.imagewidth}}"/>
      {% endif %}
      {% if page.imageheight %}
	  <meta property="og:image:height" content="{{ page.imageheight }}"/>
      {% endif %}
    {% else %}
      <meta property="og:image" content="http://timschreiber.com/img/timothy-p-schreiber-3.jpg"/>
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1550694455192768"/>
    <link rel="canonical" href="{{ page.url }}"/>
    <link rel="alternate" type="application/atom+xml" title="Atom | Tim Schreiber" href="http://timschreiber.com/blog/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="Rss | Tim Schreiber" href="http://timschreiber.com/blog/rss.xml" />
    <link rel="stylesheet" type="text/css" href="/css/theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous" />    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" />
    <link rel="stylesheet" type="text/css" href="/css/layout2.css" />
    {% if layout.custom_css %}
    	{% for css in layout.custom_css %}
    	  <link rel="stylesheet" href="/css/{{ css }}" />
    	{% endfor %}
    {% endif %}
    {% if page.custom_css %}
    	{% for css in page.custom_css %}
    	  <link rel="stylesheet" href="/css/{{ css }}" />
    	{% endfor %}
    {% endif %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0;" rel="noindex">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="navbar-brand-box">Tim Schreiber<span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li {% if page.active == "about" %}class="active"{% elsif layout.active == "about" %}class="active"{% endif %}><a href="/about">About</a></li>
            <li class="dropdown{% if page.active == "work" %}class=" active"{% elsif layout.active == "work" %}class=" active"{% endif %}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopups="true" aria-expanded="false">Work <span class="caret"></a>
				<ul class="dropdown-menu">
					<li><a href="/work/blog">Blog</a></li>
					<li><a href="/work/resume">R&eacute;sum&eacute;</a></li>
				</ul>
			</li>
			<li {% if page.active == "health" %}class="active"{% elsif layout.active == "health" %}class="active"{% endif %}><a href="/health">Health</a></li>
			<li {% if page.active == "music" %}class="active"{% elsif layout.active == "music" %}class="active"{% endif %}><a href="/music">Music</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="contact-nav">
              <a href="javascript:showContactModal();" class="contact-nav-item" data-toggle="tooltip" data-placement="bottom" title="Email"><span class="fa fa-envelope-o"></span></a>
              <a href="https://twitter.com/tim_schreiber" class="contact-nav-item" data-toggle="tooltip" data-placement="bottom" title="Twitter"><span class="fa fa-twitter"></span></a>
              <a href="https://www.linkedin.com/profile/view?id=12496208" class="contact-nav-item" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><span class="fa fa-linkedin"></span></a>
              <a href="http://stackoverflow.com/users/913261/tim-s" class="contact-nav-item" data-toggle="tooltip" data-placement="bottom" title="Stack Overflow"><span class="fa fa-stack-overflow"></span></a>
              <a href="https://github.com/timschreiber" class="contact-nav-item" data-toggle="tooltip" data-placement="bottom" title="Github"><span class="fa fa-github"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    {{ content }}
    
	<footer rel="noindex">
		<div class="container">
				<div class="col-xs-12 text-center">
					<div><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a></div>
					<h4>Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a> except where otherwise noted.</h4>
					<h4>Hosted on <a href="https://pages.github.com/">GitHub Pages</a> &#x25cf; Powered by <a href="http://octopress.org/">Octopress</a></h4>
				</div>
		</div>
	</footer>
	
	<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" rel="noindex">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form id="contactForm">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="contactModalLabel">Contact Form</h4>
					</div>
					<div class="modal-body">
						<div id="formFields">
							<div id="contactErrMsgs" class="alert alert-danger">
								<ul></ul>
							</div>
							<div class="form-group clearfix">
								<label class="pull-left">Your Email</label>
								<input id="sender" name="sender" type="email" class="form-control" placeholder="email@domain.com" required/>
							</div>
							<div class="form-group clearfix">
								<label class="pull-left">Your Name</label>
								<input id="senderName" name="senderName" type="text" class="form-control" placeholder="Your name here" required />
							</div>
							<div class="form-group clearfix">
								<label class="pull-left">Subject</label>	
								<input id="subject" name="subject" type="text" class="form-control" placeholder="Type subject here..." required />
							</div>
							<div class="form-group clearfix">
								<label class="pull-left">Message</label>
								<textarea id="message" name="message" class="form-control" placeholder="Type message here..." rows="8" required></textarea>
							</div>
							<div class="checkbox">
								<label>
								<input id="copySender" type="checkbox" />
								Send a copy of the message to yourself
								</label>
							</div>
							<div class="g-recaptcha" data-sitekey="6LcuJ9USAAAAAAJqueLDF2pZeepL7_r0NRlcGGGH"></div>
						</div>
						<div id="formConfirmation">
							<p>Your message was sent successfully.</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="btnSubmit" type="submit" class="btn btn-primary"><span class="fa fa-paper-plane"></span> Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/layout2.js"></script>
    {% if layout.custom_js %}
    	{% for js in layout.custom_js %}
    	  <script type="text/javascript" src="/js/{{ js }}"></script>
    	{% endfor %}
    {% endif %}
    {% if page.custom_js %}
    	{% for js in page.custom_js %}
    	  <script type="text/javascript" src="/js/{{ js }}"></script>
    	{% endfor %}
    {% endif %}
	      
<!-- VigLink -->
<script type="text/javascript">
    var vglnk = {key: '5282f68199b4c4ad8d7ac705d7d984c9'};
    (function(d, t) {
        var s = d.createElement(t);
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//cdn.viglink.com/api/vglnk.js';
        var r = d.getElementsByTagName(t)[0];
            r.parentNode.insertBefore(s, r);
    }(document, 'script'));
</script>
	      
<!-- Google Analytics -->	      
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1360104-7', 'auto');
  ga('send', 'pageview');
</script>		
	</body>
</html>
