---
layout: post_layout
active: blog
custom_css:
- post3.css
custom_js:
- post3.js
---

{% include layout_header.html %}

<div class="container">

	<ol class="breadcrumb">
		<li><a href="/"><span class="fa fa-home"></span><span class="sr-only">Home</span></a></li>
		<li><a href="/blog/">Blog</a></li>
		<li class="active">{{page.title}}</li>
	</ol>

	<div class="row">
		<div class="col-xs-12">
			<div class="page-header">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
		<div class="col-xs-12 col-md-8">
			{% if page.image %}
				<img class="img img-responsive" src="/img/{{ page.image }}" />
			{% endif %}
			
			<h5><strong>{{ page.date | date : "%d-%b-%Y" }}</strong></h5>
			<article>
				<p class="lead">{{ page.description }}</p>
				{{ content }}
			</article>
			<div id="page-navigation" class="well clearfix"> 
				<div class="pull-left"> {% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><span class="fa fa-arrow-circle-left"></span> {{page.previous.title}}</a> {% endif %} </div> 
				<div class="pull-right"> {% if page.next.url %} <a href="{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} <span class="fa fa-arrow-circle-right"></span></a> {% endif %} </div> 
			</div> 
			
			{% if page.comments == true %}
				<div id="disqus_thread"></div>
				<script type="text/javascript">
					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					var disqus_shortname = 'timschreiber'; // required: replace example with your forum shortname

					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			{% endif %}
		</div>
		<div class="col-xs-12 col-md-4">
		{% include blog_archive.html %}
		{% include blog_subscribe.html %}
		</div>
	</div>
</div>

{% include layout_footer.html %}
